
nav ul {
    
    display: flex;
    
}

nav ul li {
    background-color: rgb(186, 61, 224);
    width: 200px;
    height: 130px;
    text-align: center;
    line-height: 100px;
    margin: 0px 20px;
    display: block;
    
    
       
}

.container ul {
    width: 1200px;
    height: 700px;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-between;
    
   
    
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}

